*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    color: white;
    font-family: sans-serif;
}



nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    position: absolute;
    width: 100vw;
}

nav h2
{
    font-size: 2vw;
}

nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    font-size: 1.1vw;
}

nav ul li{
    transition: 0.3s;
    cursor: pointer;
}

nav ul li:hover
{
    transform: translateX(5px) scale(1.1) rotate(10deg);
}


main{
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp2532971.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


#Content
{
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    /* border: 1px solid white; */
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 8vw;
    font-weight: 500;

    text-shadow: 0px 4px black;
}

#Content button
{
    background-color: transparent;
    /* border: 1px solid white; */
    color: white;
    font-size: 1.7vw;
    font-weight: 500;
    padding: .6vw 2.5vw;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    top: 56px;
    background-color: rgb(255, 0, 89);

    transition: 0.2s;
}


#Content button:hover
{
    background-color: white;
    color: black;
}

